# Get these from sign-up/login to eumetsat data store account, request license to use their APIs which may take an hour, then use the api keys they provide and put them here
EUMETSAT_CONSUMER_KEY=your_consumer_key_here
EUMETSAT_CONSUMER_SECRET=your_consumer_secret_here

DB_HOST="pipeline_database"
DB_PORT="5432"
DB_NAME="satellite_metadata"
DB_USER="pipeline_admin"
DB_PASS="pipeline_pass"